.info{
  color: skyblue;
}

.box1{
  background-color: orange;
  width: 200px;
  height: 350px;
}

.box2{
  background-color: skyblue;
  width: 50%;
  height: 40%;
  /* overflow: hidden;
  ボックスから溢れた部分を非表示 */
  overflow: scroll;
  /* ボックスから溢れた部分をスクロール表示  */
  
  border: 2px dashed blue;
  /* solidは実線、dashedは点線 */
  border-bottom: none;
  /* 指定した部分だけnoneでなくす */
  border-radius: 10px;
  /* 線の角を丸める */
}
.box3{
  background-color: tomato;
  display: inline;
}

.box4{
  border: 2px solid blue;
  background-color: aliceblue;
  width: 400px;
  padding: 10px 20px 30px 40px;
  margin: 0 0 20px;

  /* 余白を指定したがわに割り当てる */
  margin-left: auto;
  margin-right: auto;
}

.box5{
  border: 2px solid blue;
  background-color: aliceblue;
  width: 400px;
  padding: 10px 20px 30px; 
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.box6{
  border: 2px solid blue;
  background-color: aliceblue;
  width: 400px;
  padding: 10px 20px ; 
}
.box7{
  border: 2px solid blue;
  background-color: aliceblue;
  width: 400px;
  padding: 10px; 
}

p{
  margin: 10px;
  background-color: beige;
}